.landing-page--clicked {
    .landing-page__precontent {

        .landing-page__image {
            opacity: 0;
            // transform: scale(1.2);
            // transform: scale3d(2.2, 2.2, 1);
            transform: matrix(1.4, 0, 0, 1.4, 0, 0);
            visibility: hidden;
        }

        .landing-page__block {
            cursor: default;
            opacity: 0;
            transition: opacity 1.2s ease, visibility 1.2s ease;
            visibility: hidden;

            button {
                cursor: default;

                &:before {
                    background-color: $landing-page-button-hover-background;
                    transform: $landing-page-button-hover-scale;
                }
            }
        }
    }

    .landing-page__postcontect {
        p {
            color: $black;
        }
    }
}
